################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Ignore the Debug Builds
x64
.vs
bin
Debug
Core/Debug
Core/x64

# Ignore the Editing Congiguration File
Resources/Config/Editing.cfg

# Ignore the Project List File
Resources/Data/projects.dat

# Ignore the Engine Build
Core/EngineLibs/Code/Build
Core/EngineLibs/Code/out

# Ignore NuGet Packages
Packages
/Core/EngineLibs/Code/Build/Debug/enginecode.lib
/Core/EngineLibs/Code/Build/Debug/enginecode.pdb
/Core/EngineLibs/Code/Build/enginecode.dir/Debug/enginecode.tlog/CL.read.1.tlog
/Core/EngineLibs/Code/Build/enginecode.dir/Debug/Camera.obj
/Core/EngineLibs/Code/Build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/Core/x64/Debug/Core.tlog/CL.command.1.tlog
/Core/x64/Debug/Core.tlog/CL.read.1.tlog
